{{#each artists}}
    <a href="/albums/{{ this.id }}" style="display: block; padding: 5px;">
        <img src="{{ this.image }}" width="100" />
        {{this.name}}

        <span class="btn btn-primary">View Albums</span>
    </a>
{{/each}}