<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  {{#if title}}
    <title>{{title}} | Express Spotify App</title>
  {{else}}
    <title>Express Spotify App</title>
  {{/if}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <form action="/artists" class="form-inline my-12">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search for an artist</button>
        </form>
      </div>
    </nav>
    <main>
        {{{ body }}}
    </main>
</body>
</html>
